<h1>OUTPUT</h1>

<table class="table">
  <thead>
    <tr>
      <th scope="col">#</th>
      <th scope="col">Produktname</th>
      <th scope="col">Orders</th>
      <th scope="col">Style</th>
      <th scope="col">Size</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">1</th>
      <td>Schuhe</td>
      <td>24</td>
      <td>Blümchen</td>
      <td>4</td>
    </tr>
    <tr>
      <th scope="row">2</th>
      <td>Schuhe</td>
      <td>81</td>
      <td>Grunge</td>
      <td>8</td>
    </tr>
    <tr>
      <th scope="row">3</th>
      <td>Tasche</td>
      <td>81</td>
      <td>Calaver</td>
      <td>8</td>
    </tr>
  </tbody>
</table>

<%= link_to 'Home', root_path %>
<%= link_to 'About', about_path %>
